@use 'styles/colors' as c;
.resume__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0.5rem 0;

    @media print {
        padding: 0;
        gap: 0.75rem;
    }
   
    &__item {
        display: inline-block;
        background-color: c.$light-gray;
        color: c.$dark-gray;
        padding: 0.5rem 1rem;
        border-radius: 15px;
        font-size: 0.95rem;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        @media print {
            padding: .25rem 0rem;
            background-color: inherit;
            line-height: .5rem;
        }

        &:hover {
            background-color: darken(c.$light-gray, 5%);
            transform: translateY(-2px);
            box-shadow: 0 2px 4px rgba(c.$dark-gray, 0.1);
        }
    }
}