@use "sass:color";
@use 'styles/colors' as c;
.home {
    padding: 0.5rem 0 2rem 0;

    h1 {
        color: c.$navy;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 2.5rem;
    }

    &__intro, &__journey, &__closing-statement {
        font-size: 1.1rem;
        line-height: 1.65;
        color: c.$dark-gray;
        text-align: left;
        max-width: 750px;
        margin: 0 auto 1.25rem auto;
    }

    &__closing-statement {
        font-style: normal;
       
        margin-bottom: 2.5rem;
       
    }

    &__section {
        background-color: c.$white;
        padding: 1.5rem 2rem;
        margin-bottom: 2rem;
        border-radius: 8px;
        border: 1px solid color.adjust(c.$light-gray, $lightness: -5%);
        box-shadow: 0 3px 6px rgba(c.$dark-gray, 0.07);

        h2 {
            font-size: 1.7rem;
            color: c.$navy;
            margin-top: 0;
            margin-bottom: 1.25rem;
            padding-bottom: 0.5rem;
            border-bottom: 2px solid c.$blue;
            display: inline-block;
        }

        h3 {
            font-size: 1.3rem;
            color: c.$dark-gray;
            font-weight: 600;
            margin-top: 1.5rem;
            margin-bottom: 0.75rem;
        }

        p {
            font-size: 1.05rem;
            line-height: 1.7;
            color: c.$dark-gray;
            margin-bottom: 1rem;
        }

        ul {
            list-style: disc;
            padding-left: 1.5rem;
            margin-bottom: 1rem;

            li {
                font-size: 1.05rem;
                line-height: 1.7;
                color: c.$dark-gray;
                margin-bottom: 0.6rem;

                strong {
                    color: c.$navy;
                    font-weight: 600;
                }

               
                ul {
                    margin-top: 0.5rem;
                    list-style: circle;
                    padding-left: 1.25rem;
                    li {
                        font-size: 1rem;
                        color: c.$medium-gray;
                    }
                }
            }
        }

        a {
            font-weight: 500;
        }
    }

    &__closing-statement {
        font-size: 1.15rem;
        line-height: 1.7;
        color: c.$medium-gray;
        text-align: center;
        max-width: 750px;
        margin: 2.5rem auto 1rem auto;
        font-style: italic;
    }
}